.container {
    padding-block: 15px;
    border-bottom: 2px solid rgb(47, 109, 255);

    &:hover {
        cursor: pointer;
        border-bottom-color: rgb(0, 0, 179);

        p {
            left: 10px;
        }
    }

    p {
        position: relative;
        margin: 0;
        left: 0;
        transition: left 0.3s ease;
    }
}